


#Target
Koget-Admin/

#SPM
koget.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/*

#Firebase
GoogleService-Info.plist

#ETC
.DS_Store

#fastlane - 20230317 --
# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output

# keys
*.p8
*.p12
*.cer
GoogleService-Info.plist
*.mobileprovision
*.sh

