<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.weizen.BackgroundMaker</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>open</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.weizen.BackgroundMaker</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>link</string>
			</array>
		</dict>
	</array>
	<key>INIntentsSupported</key>
	<array>
		<string>DeepLinkAppIntent</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googleauthenticator</string>
		<string>cashwalkapp</string>
		<string>googlemaps</string>
		<string>instagram</string>
		<string>kakaomap</string>
		<string>kakaonavi</string>
		<string>kakaopay</string>
		<string>kakaotalk</string>
		<string>fb-messenger-public</string>
		<string>MobileID</string>
		<string>naversearchapp</string>
		<string>navermap</string>
		<string>naverpayapp</string>
		<string>ktAuth</string>
		<string>tauthlink</string>
		<string>uplusauth</string>
		<string>payco</string>
		<string>shpayfan-touchpay</string>
		<string>starbucks</string>
		<string>strava</string>
		<string>tmap</string>
		<string>youtube</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationIntent</string>
		<string>DeepLinkAppIntent</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
