<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.heon.koget</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>koget</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.heon.koget</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>link</string>
			</array>
		</dict>
	</array>
	<key>INIntentsSupported</key>
	<array>
		<string>DeepLinkAppIntent</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googleauthenticator</string>
		<string>cashwalkapp</string>
		<string>googlemaps</string>
		<string>instagram</string>
		<string>kakaomap</string>
		<string>kakaonavi</string>
		<string>kakaopay</string>
		<string>kakaotalk</string>
		<string>fb-messenger-public</string>
		<string>MobileID</string>
		<string>naversearchapp</string>
		<string>navermap</string>
		<string>naverpayapp</string>
		<string>payco</string>
		<string>shpayfan-touchpay</string>
		<string>starbucks</string>
		<string>strava</string>
		<string>tmap</string>
		<string>youtube</string>
		<string>authy</string>
		<string>nflx</string>
		<string>nikerunclub</string>
		<string>facebook</string>
		<string>whatsapp</string>
		<string>google</string>
		<string>spotify</string>
		<string>uber</string>
		<string>disneyplus</string>
		<string>twitter</string>
		<string>googleassistant</string>
		<string>fb455753897775430</string>
		<string>reddit</string>
		<string>goodnotes5</string>
		<string>watc</string>
		<string>daangn</string>
		<string>kakaot</string>
		<string>ms-outlook</string>
		<string>ridi</string>
		<string>snowme</string>
		<string>soda</string>
		<string>whoscall</string>
		<string>switchapp</string>
		<string>hyundaicardappcard</string>
		<string>tphone</string>
		<string>kyoboebook</string>
		<string>misemise</string>
		<string>otpauth</string>
		<string>youtubemusic</string>
		<string>supertoss</string>
		<string>YES24EBOOK</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>Allows Arbitrary Loads</key>
		<true/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationIntent</string>
		<string>DeepLinkAppIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Bold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
