***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansKR-Light.otf</string>
		<string>NotoSansKR-Medium.otf</string>
		<string>NotoSansKR-Bold.otf</string>
		<string>NotoSansKR-Regular.otf</string>
		<string>SDSwagger.otf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		***REMOVED***
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.weizen.BackgroundMaker</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>open</string>
			</array>
		***REMOVED***
		***REMOVED***
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.weizen.BackgroundMaker</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>link</string>
			</array>
		***REMOVED***
	</array>
	<key>INIntentsSupported</key>
	<array>
		<string>DeepLinkAppIntent</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googleauthenticator</string>
		<string>cashwalkapp</string>
		<string>googlemaps</string>
		<string>instagram</string>
		<string>kakaomap</string>
		<string>kakaonavi</string>
		<string>kakaopay</string>
		<string>kakaotalk</string>
		<string>fb-messenger-public</string>
		<string>MobileID</string>
		<string>naversearchapp</string>
		<string>navermap</string>
		<string>naverpayapp</string>
		<string>ktAuth</string>
		<string>tauthlink</string>
		<string>uplusauth</string>
		<string>payco</string>
		<string>shpayfan-touchpay</string>
		<string>starbucks</string>
		<string>strava</string>
		<string>tmap</string>
		<string>youtube</string>
		<string>authy</string>
		<string>nflx</string>
		<string>nikerunclub</string>
		<string>facebook</string>
		<string>whatsapp</string>
		<string>google</string>
		<string>spotify</string>
		<string>telegram</string>
		<string>uber</string>
		<string>disneyplus</string>
		<string>twitter</string>
		<string>googleassistant</string>
		<string>fb455753897775430</string>
		<string>reddit</string>
		<string>goodnotes5</string>
		<string>tiktok</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationIntent</string>
		<string>DeepLinkAppIntent</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	***REMOVED***
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		***REMOVED***
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				***REMOVED***
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
				***REMOVED***
			</array>
		***REMOVED***
	***REMOVED***
***REMOVED***
***REMOVED***
