***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***
	<key>SchemeUserState</key>
	***REMOVED***
		<key>BMUITester.xcscheme_^#shared#^_</key>
		***REMOVED***
			<key>orderHint</key>
			<integer>7</integer>
		***REMOVED***
		<key>BackgroundMaker.xcscheme_^#shared#^_</key>
		***REMOVED***
			<key>orderHint</key>
			<integer>4</integer>
		***REMOVED***
		<key>LockScreenIntent.xcscheme_^#shared#^_</key>
		***REMOVED***
			<key>orderHint</key>
			<integer>4</integer>
		***REMOVED***
		<key>LockScreenIntentUI.xcscheme_^#shared#^_</key>
		***REMOVED***
			<key>orderHint</key>
			<integer>0</integer>
		***REMOVED***
		<key>LockScreenIntentsExtension.xcscheme_^#shared#^_</key>
		***REMOVED***
			<key>orderHint</key>
			<integer>5</integer>
		***REMOVED***
		<key>LockScreenWidgetExtension.xcscheme_^#shared#^_</key>
		***REMOVED***
			<key>orderHint</key>
			<integer>6</integer>
		***REMOVED***
		<key>Rx (Playground) 1.xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		***REMOVED***
		<key>Rx (Playground) 2.xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		***REMOVED***
		<key>Rx (Playground) 3.xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		***REMOVED***
		<key>Rx (Playground) 4.xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>13</integer>
		***REMOVED***
		<key>Rx (Playground) 5.xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>14</integer>
		***REMOVED***
		<key>Rx (Playground) 6.xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>19</integer>
		***REMOVED***
		<key>Rx (Playground) 7.xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>20</integer>
		***REMOVED***
		<key>Rx (Playground) 8.xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>21</integer>
		***REMOVED***
		<key>Rx (Playground).xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		***REMOVED***
		<key>SnapKitPlayground (Playground) 1.xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		***REMOVED***
		<key>SnapKitPlayground (Playground) 2.xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		***REMOVED***
		<key>SnapKitPlayground (Playground) 3.xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		***REMOVED***
		<key>SnapKitPlayground (Playground) 4.xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		***REMOVED***
		<key>SnapKitPlayground (Playground) 5.xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		***REMOVED***
		<key>SnapKitPlayground (Playground) 6.xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>16</integer>
		***REMOVED***
		<key>SnapKitPlayground (Playground) 7.xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>17</integer>
		***REMOVED***
		<key>SnapKitPlayground (Playground) 8.xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>18</integer>
		***REMOVED***
		<key>SnapKitPlayground (Playground).xcscheme</key>
		***REMOVED***
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		***REMOVED***
	***REMOVED***
***REMOVED***
***REMOVED***
