***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***
	<key>NSExtension</key>
	***REMOVED***
		<key>NSExtensionAttributes</key>
		***REMOVED***
			<key>IntentsRestrictedWhileLocked</key>
			<array/>
			<key>IntentsRestrictedWhileProtectedDataUnavailable</key>
			<array/>
			<key>IntentsSupported</key>
			<array>
				<string>DeepLinkAppIntent</string>
				<string>INSearchForMessagesIntent</string>
				<string>INSetMessageAttributeIntent</string>
				<string>TextWidgetIntent</string>
			</array>
		***REMOVED***
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.intents-service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).IntentHandler</string>
	***REMOVED***
***REMOVED***
***REMOVED***
